<%- include('./partials/header-map') %>

  <body>
    <div>
      <label for="location">Location</label> 
      <%= activity.camera.location.coordinates[0] %> <%= activity.camera.location.coordinates[1] %>
      <label for="count">Person Count</label>
        <%= activity.personCount %>
      <label for="activity-time">Activity Time</label>
        <%= activity.time %>
      <label for="image">Image</label>
        <img src="<%= activity.imageURL %>" alt="">
    </div>
  </body>

</html>