<%- include('./partials/header-map') %>

<% cameraGroups.data?.forEach( cameraGroup => { %>
  <div class="card" style="width: auto;">
    <div>Location : <%= cameraGroup.location.coordinates[0] %> <%= cameraGroup.location.coordinates[1] %> </div>
    <% cameraGroup.activities?.forEach( activity => { %>
      <div class="card">
      <div>Person Time : <%= activity.time %> </div>
      <div>Person Count : <%= activity.personCount %> </div>
      <form action="/activities/<%= activity._id %>/resolve" method="post">
        <a class="btn" href="/activities/<%= activity._id %>">Go to Activity</a>
        <button class="bg-blue">Resolve</button>
      </form>
    </div>
    <% }) %>
  </div>
<% }) %>