<%- include('./partials/header-map') %>
<body>
  <div class="">
    <form class="frm" action="/auth/logout?_method=DELETE" method="POST">
      <button id="logout" class="bg-red" type="submit">Log Out</button>
    </form>
    <h1 class="title">Hi, <%= user?.name %>
    </h1>
    <form action="/auth/verify" method="POST">
      <p>
        <%= user.isMailVerified ? "Email is verified" : "Please Verify Mail" %>
      </p>
      <button <%=user.isMailVerified ? "hidden" : "" %> type="submit">Send Mail</button>
    </form>
    <hr>
  </div>
  
  <div class="container-inline">
    <div class="map-container">
      <div id="map" style="display: inline-block;"></div>
      <hr>
      <button id="show">Show</button>
      <button id="hide">Hide</button>
      <button id="refresh">Refresh</button>
    </div>

    <div class="activity-container">
      <%- include('./activities') %>
    </div>
  </div>

  <script src="/scripts/map.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= MAPS_API_KEY %>&callback=initMap&libraries=&v=weekly"></script>
</body>

</html>