<%- include('./partials/header-map') %>
<body>
  <div>
    <h1>Hi <%= user?.name %></h1>
    <hr>
    <form action="/auth/verify" method="POST">
      <p>
        <%= user.isMailVerified ? "Email is verified" : "Please Verify Mail" %>
      </p>
      <button <%=user.isMailVerified ? "hidden" : "" %> type="submit">Send Mail</button>
    </form>
    <hr>
    <form action="/auth/logout?_method=DELETE" method="POST">
      <button type="submit">Log Out</button>
    </form>
  </div>

  <div id="map"></div>
  <button id="show">Show</button>
  <button id="hide">Hide</button>
  <button id="refresh">Refresh</button>

  <hr>

  <script src="/scripts/map.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= MAPS_API_KEY %>&callback=initMap&libraries=&v=weekly"></script>
</body>

</html>